:root {
  --color-fondo:      #FFCCFF;
  --color-superficie: #ffffff;
  --color-primario:   #ce86ce;
  --color-secundario: #f7c0f7;
  --color-acento:     #FF8844;
  --color-acento-2:   #FF4444;
  --color-texto:      #000044;
  --color-texto-suave:#441122;
}
.navbar {
  background-color: var(--color-secundario);
  color: var(--color-texto);
}